#demo2
    .btn
        background-color: #fffb26
        width: 100px
        padding: 10px
        border-radius: 20px
        &:hover
            cursor: pointer
            width: 120px
            border: 5px solid #e6bdaa
    @media (max-width: 600px)
        .btn
            border-radius: 100px
            background-color: #d12f2f
    @media (max-width: 400px)
        .col-md-12
            justify-content: flex-start
            .btn
                background-color: #205c74
