#demo3
    .minibox
        background-color: #ddcfc3
        font-weight: 700
        font-size: 25px
        padding: 85px 80px
        transition: 0.5s
        margin: 5px
        &:hover
            border: 3px solid #2b3361
    @media (max-width: 750px)
        .col-md-12
            flex-direction: column
            .minibox
                background-color: #ccd17e
                border: 5px solid #702d2d
                width: 200px
                height: 100px
                padding: 10px
            .pos
                transform: translate(200px)
