#demo
    .box
        flex-direction: column
        .textbox
            width: 600px
        .minibox
            background-color: #af7fa3
            color: #ffff
            width: 130px
            height: 130px
            margin: 10px
            padding: 10px 0 0 10px
        .position
            position: fixed
            right: 5px
